# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Electron cache & build
dist/
out/
release/

# OS files
.DS_Store

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# Build artifacts
release